nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: lightskyblue;
    color: white;
    padding-inline: 50px;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
}
nav a {
    text-decoration: none;
    color: white;
    transition: 0.2s ease;
}
nav a:hover li {
    transform: scale(110%);
}
nav button {
    padding: 10px 20px;
    background-color: white;
    cursor: pointer;
    border: none;
    font-size: 16px;
    transition: 0.2s ease;
}
nav button:hover {
    transform: scale(90%);
    background-color: cornflowerblue;
    color: white;
}

.disabledLink {
    color: rgba(255, 255, 255, 0.5);
    cursor: default;
}
.disabledLink:hover li {
    transform: scale(100%);
}

footer {
    background-color: gray;
    color: white;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    padding: 50px;
}
footer a {
    text-decoration: none;
    color: white;
}
.showFavoris {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 12;
    width: 80vw;
    height: 100vh;
    padding: 20px;
    background-color: lightblue;
    animation: showFavs 0.3s ease forwards;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.articleFav {
    background-color: white;
    padding: 10px;
    font-size: 16px !important;
}
.showFavoris button {
    padding: 10px 20px;
    cursor: pointer;
}
.showFavoris span {
    font-size: 30px;
    color: black;
}
@keyframes showFavs {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.divBurger{
    display: none;
    justify-content: center;
    align-items: center;
}
.sideMenu {
    background-color: rgba(135, 206, 250, 0.95);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 80vw;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sideMenu a {
    text-decoration: none;
    color: white;
}
.sideMenu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sideMenu button {
    width: 100px;
    height: 30px;
}
.divClose {
    position: absolute;
    top: 20px;
    left: 20px;
}

@media (max-width:950px) {
    .divBurger {
        display: flex;
    }
    nav button {
        display: none;
    }
    nav ul {
        display: none;
    }
}